<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCTV-1高清</key>
	<string>cctv1</string>
	<key>CCTV-2高清</key>
	<string>cctv2</string>
	<key>CCTV-3高清</key>
	<string>cctv3</string>
	<key>CCTV-4高清</key>
	<string>cctv4</string>
	<key>CCTV-5高清</key>
	<string>cctv5</string>
	<key>CCTV-6高清</key>
	<string>cctv6</string>
	<key>CCTV-7高清</key>
	<string>cctv7</string>
	<key>CCTV-8高清</key>
	<string>cctv8</string>
	<key>CCTV-9高清</key>
	<string>cctv9</string>
	<key>CCTV-10高清</key>
	<string>cctv10</string>
	<key>CCTV-11高清</key>
	<string>cctv11</string>
	<key>CCTV-12高清</key>
	<string>cctv12</string>
	<key>CCTV-13高清</key>
	<string>cctv13</string>
	<key>CCTV-14高清</key>
	<string>cctv14</string>
	<key>CCTV-1</key>
	<string>cctv1</string>
	<key>CCTV-2</key>
	<string>cctv2</string>
	<key>CCTV-3</key>
	<string>cctv3</string>
	<key>CCTV-4</key>
	<string>cctv4</string>
	<key>CCTV-5</key>
	<string>cctv5</string>
	<key>CCTV-6</key>
	<string>cctv6</string>
	<key>CCTV-7</key>
	<string>cctv7</string>
	<key>CCTV-8</key>
	<string>cctv8</string>
	<key>CCTV-9</key>
	<string>cctv9</string>
	<key>CCTV-10</key>
	<string>cctv10</string>
	<key>CCTV-11</key>
	<string>cctv11</string>
	<key>CCTV-12</key>
	<string>cctv12</string>
	<key>CCTV-13</key>
	<string>cctv13</string>
	<key>CCTV-14</key>
	<string>cctv14</string>
	<key>CCTV-15</key>
	<string>cctv15</string>
	<key>CCTV5-体育赛事高清</key>
	<string>cctv5hd</string>
	<key>CCTV-新闻</key>
	<string>cctvnews</string>
	<key>安徽卫视</key>
	<string>logoanhui</string>
	<key>安徽高清</key>
	<string>logoanhui</string>
	<key>北京卫视</key>
	<string>logobeijing</string>
	<key>北京高清</key>
	<string>logobeijing</string>
	<key>重庆卫视</key>
	<string>logochongqing</string>
	<key>重庆高清</key>
	<string>logochongqing</string>
	<key>东方卫视</key>
	<string>logodongfang</string>
	<key>东方高清</key>
	<string>logodongfang</string>
	<key>上海卫视</key>
	<string>logodongfang</string>
	<key>上海高清</key>
	<string>logodongfang</string>
	<key>东南卫视</key>
	<string>logodongnan</string>
	<key>东南高清</key>
	<string>logodongnan</string>
	<key>福建卫视</key>
	<string>logotv</string>
	<key>福建高清</key>
	<string>logotv</string>
	<key>河北卫视</key>
	<string>logohebei</string>
	<key>河北高清</key>
	<string>logohebei</string>
	<key>湖南卫视</key>
	<string>logohunan</string>
	<key>湖南高清</key>
	<string>logohunan</string>
	<key>江苏卫视</key>
	<string>logojiangsu</string>
	<key>江苏高清</key>
	<string>logojiangsu</string>
	<key>辽宁卫视</key>
	<string>logoliaoning</string>
	<key>辽宁高清</key>
	<string>logoliaoning</string>
	<key>山东卫视</key>
	<string>logoshandong</string>
	<key>山东高清</key>
	<string>logoshandong</string>
	<key>山西卫视</key>
	<string>logoshanxi</string>
	<key>山西高清</key>
	<string>logoshanxi</string>
	<key>浙江卫视</key>
	<string>logozhejiang</string>
	<key>浙江高清</key>
	<string>logozhejiang</string>
	<key>天津卫视</key>
	<string>logotianjin</string>
	<key>天津高清</key>
	<string>logotianjin</string>
	<key>四川卫视</key>
	<string>logosichuan</string>
	<key>四川高清</key>
	<string>logosichuan</string>
	<key>国防军事</key>
	<string>logoguofangjunshi</string>
	<key>东方财经</key>
	<string>logodongfangcaijin</string>
	<key>峨眉电影</key>
	<string>logoemei</string>
	<key>全纪实</key>
	<string>logoquanjishi</string>
	<key>风云足球</key>
	<string>logofengyunzuqiu</string>
	<key>劲爆体育</key>
	<string>logojinbaotiyu</string>
	<key>金鹰卡通</key>
	<string>logojinyingkatong</string>
	<key>世界地理</key>
	<string>logoshijiedili</string>
	<key>DOX●映画-HD</key>
	<string>xingyuanyinghua</string>
	<key>DOX●新知-HD</key>
	<string>xingyuanxinzhi</string>
	<key>DOX●新艺-HD</key>
	<string>xingyuanxinyi</string>
	<key>DOX●剧场-HD</key>
	<string>xingyuanjuchang</string>
</dict>
</plist>
